다음 employees 변수에 담긴 데이터를 참고하여, 문제를 풀이해보자.

In [1]:
# 직원 정보 리스트
employees = [
    {'name': '차은오', 'age': 25, 'salary': 4500, 'email': 'cha25@gmail.com', 'ssn': '990101-1234567'},
    {'name': '박보검', 'age': 32, 'salary': 5500, 'email': 'parkbg@kh.or.kr', 'ssn': '920305-1234567'},
    {'name': '이민소', 'age': 29, 'salary': 4800, 'email': 'minso_lee@@gmail.com', 'ssn': '950812-2234567'},
    {'name': '정해준', 'age': 31, 'salary': 5200, 'email': 'haejun.kh.or.kr', 'ssn': '900101-5123456'},
    {'name': '최수빈', 'age': 27, 'salary': 4300, 'email': 'su_bin@kh.or.kr', 'ssn': '980530-4234567'},
    {'name': '윤시원', 'age': 23, 'salary': 3500, 'email': 'siwon_y@@gmail.com', 'ssn': '010120-1234567'},
    {'name': '한지아', 'age': 28, 'salary': 4600, 'email': 'jia.han@gmail', 'ssn': '960405-9876543'},
    {'name': '서강율', 'age': 38, 'salary': 6000, 'email': 'gangyul@kh.or.kr', 'ssn': '860222-1234567'},
    {'name': '장우석', 'age': 21, 'salary': 3000, 'email': 'wooseok#gmail.com', 'ssn': '040505-3234567'},
    {'name': '김태휘', 'age': 40, 'salary': 5000, 'email': 'taehwi.kim@gmail.com', 'ssn': '850101-1234567'}
]

In [ ]:
# [1] 나이를 기준으로 오름차순 정렬하여 이름만 출력해보자.

['장우석', '윤시원', '차은오', '최수빈', '한지아', '이민소', '정해준', '박보검', '서강율', '김태휘']

['장우석', '윤시원', '차은오', '최수빈', '한지아', '이민소', '정해준', '박보검', '서강율', '김태휘']

In [ ]:
# [2] 급여를 기준으로 내림차순 정렬하여 이름만 출력해보자.

['서강율', '박보검', '정해준', '김태휘', '이민소', '한지아', '차은오', '최수빈', '윤시원', '장우석']

['서강율', '박보검', '정해준', '김태휘', '이민소', '한지아', '차은오', '최수빈', '윤시원', '장우석']

In [ ]:
# [3] 30세 이상 직원만 필터링하여 이름만 출력해보자.

['박보검', '정해준', '서강율', '김태휘']

['박보검', '정해준', '서강율', '김태휘']

In [ ]:
# [4] 직원 데이터를 employees.txt 파일에 저장해보자. (저장 형식: 이름,나이,급여)

차은오,25,4500
박보검,32,5500
이민소,29,4800
... 이하 생략...

In [ ]:
# [5] 파일 데이터를 읽어서 급여가 5000 이상인 직원만 출력해보자.

박보검,25,4500
정해준,31,5500
서강율,38,6000
김태휘,40,5000

In [ ]:
# [6] 직원 정보 중 유효한 이메일만 출력해보자. (시작: 영문/숫자, @ 포함, 도메인: .com, .or.kr)

In [ ]:
# [7] 직원 정보 중 올바른 주민번호만 출력해보자. (앞6자리-뒤7자리, 뒷번호 첫 숫자는 1 ~ 4)

In [ ]:
# [8] 직원 정보 중 이메일, 주민번호가 올바른 데이터는 employees.txt 파일에 저장하고,
#                                 올바르지 않은 데이터는 invalid_employees.txt 파일에 저장해보자.